* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended {
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
}

.point .label {
    color: #ffffff;
    text-align: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: #00000077;
    border-radius: 50%;
    opacity: 75%;
    line-height: 40px;
    font-weight: 100;
    font-size: 1.2rem;
}

.point .text {
    color: white;
    position: absolute;
    top: 30px;
    width: 200px;
    background-color: #00000077;
    opacity: 75%;
    border-radius: 0.5rem;
    line-height: 1.3rem;
    font-weight: 100;
    padding: 0.5rem;
}